//imports
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans|Poiret+One);

//custom
/*.columns {
  border: 10px solid red;
  }*/

//Custom Style#1
#banner1 {
	background-color: $primary-background-color;
		a {
			color: white;
			font-family: matrix-code;
		}
}

//Custom Style#2
@keyframes hovercolor {
	from {
		color: $body-font-color;
	}
	to {
		color: red;
	}
}

a:hover {
	animation-name: hovercolor;
	animation-duration: 1s;
	animation-iteration-count: 4;
}

//Custom Style#3
.columns:hover {
	border: 1px solid $light-gray;
}


//adapted from examples
footer {
	margin: 1em 0 ;
	padding: 1em 0;
	border-top: 1px solid #999;
	color: #999;
	text-align: center;
}



