/* hi-res desktops up to and including 1920px width */
/* average desktops between tablet size and hi-res */
/* IOS devices in porttrait */
/* lower-res tablets and phones */
/* smartphone */
@-ms-viewport {
  width: device-width;
}
/* Declare Border Box */
html {
  box-sizing: border-box;
}

/* this selector inherits to all elements in all pages */
*,
*:before,
*:after {
  box-sizing: inherit;
}
.wrapper {
  width: 97%;
  margin: 0 auto;
  background-color: rgba(220, 240, 255, 0.1);
  overflow: auto;
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
}

h2, h3, h4 {
  font-family: "Poiret One", cursive;
  font-weight: normal;
  background-color: #DCF0FF;
}
header, h1{
  font-family: "Poiret One", cursive;
  font-weight: normal;
  padding: .25em;
}

header h1 a {
  text-decoration: none;
  text-shadow: 1px 10px 2px #aaaaaa;
  text-shadow: 1px 10px 2px rgba(220, 240, 255, 0.4) #aaaaaa;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600italic;
  background-color: rgba(220, 240, 255, 0.4);
}

a {
  color: white;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

nav {
  font-family: "Josefin Sans", sans-serif;
  background-color: #DCF0FF;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav ul a {
  font-weight: bold;
  padding: 1em;
  float: left;
}

nav ul a:hover, nav ul h1 a:hover {
  color: blue;
}

div img {
  width: 100%;
}
div picture {
  width: 100%;
  height: auto;
}


/* CSS4 Grid Settings start*/
/* grid settings */
header {
  grid-column: 1 /7;
  grid-row: 1;
}
nav {
  grid-column: 1 /7;
  grid-row: 2;
  justify-items: center;
}
.col-1a {
  grid-column: 1 / 7;
  grid-row: 3;

}
.col-2a {
  grid-column: 1 / 4;
  grid-row: 4;

}
.col-2b {
  grid-column: 4 / 7;
  grid-row: 4;
}
.col-3a {
  grid-column: 1 / 3;
  grid-row: 4;

}
.col-3b {
  grid-column: 3 / 5;
  grid-row: 4;
}
.col-3c {
  grid-column: 5 / 7;
  grid-row: 4;
}
footer {
  grid-column: 1 /7;
  grid-row: 6;
}
/* CSS4 Grid Settings end*/

#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -23px;
}
#root #root_footer {
  height: 23px;
}

footer {
  position: relative;
  height: 23px;
  text-align: center;
}

/* CSS4 Animations start*/
/* keyframes*/
@keyframes LoveSymbolTrans {
  0% {
      transform: perspective(500px) translatez(0px);
    }
  50% {
      transform: perspective(500px) translatez(-1000px);
    }
  100% {
      transform: perspective(500px) translatez(0px);
    }
}
.lovesymbol {
  text-align: center;
  width: 100%;
}
/* hover animation */
.lovesymbol:hover {
  animation: LoveSymbolTrans 2s 0s 1 ease-in-out normal;
}
/* SVG edit */
.lovesymbol:hover path {
  fill: #3C1D81;
  -webkit-transition: all 2s ease-in-out .25s;
}
/* CSS4 Animations End*/



/* Media Queries */
/* hi-res desktops up to and including 1920px width */
@media only screen and (min-width: 1600px) {
  #codeimg {

  }
  nav {
    background-color: #DCF0FF;
  }

  header, h1, h2 {
    font-size: 2.25em;
  }

  li {
    font-size: 2.5em;
  }

  p {
    font-size: 2em;
  }

  header {
    background: url(../img/Appian_Way_Pan_large.jpg) no-repeat;
    background-size: 100%;
  }
}
/* average desktops between tablet size and hi-res */
@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  nav {
    background-color: pink;
  }

  header, h1, h2, li {
    font-size: 1.75em;
  }

  p {
    font-size: 1.5em;
  }

  header {
    background: url(../img/Appian_Way_Pan_med.jpg) no-repeat;
    background-size: 100%;
  }
}
/* IOS devices in porttrait */
@media only screen and (min-width: 980px) and (max-width: 1023px) {
  nav {
    background-color: blue;
  }

  header, h1, h2, li {
    font-size: 1.5em;
  }

  p {
    font-size: 1.25em;
  }

  header {
    background: url(../img/Appian_Way_Pan_small.jpg) no-repeat;
    background-size: 100%;
  }
}
/* lower-res tablets and phones */
@media only screen and (min-width: 768px) and (max-width: 979px) {
/* CSS4 Grid in media query start */
  .col-1a {
    grid-column: 1 / 7;
    grid-row: 3;

  }
  .col-2a {
    grid-column: 1 / 4;
    grid-row: 4;

  }
  .col-2b {
    grid-column: 4 / 7;
    grid-row: 4;
  }
  .col-3a {
    grid-column: 1 / 4;
    grid-row: 5;

  }
  /* This element is reordered to appear first, and on its own row, in this media query only */
  .col-3b {
    grid-column: 1 / 7;
    grid-row: 4;
  }
  .col-3c {
    grid-column: 4 / 7;
    grid-row: 5;
  }
/* CSS4 Grid in media query end */
  nav {
    background-color: green;
  }

  header, h1, h2, li {
    font-size: 1.25em;
  }

  p {
    font-size: 1em;
  }

  header {
    background: url(../img/Appian_Way_Pan_small.jpg) no-repeat;
    background-size: 100%;
  }
}
/* smartphone */
@media only screen and (max-width: 767px) {
/* CSS4 Grid in media query start */
  .col-1a {
    grid-column: 1 / 7;
    grid-row: 3;

  }
  .col-2a {
    grid-column: 1 / 7;
    grid-row: 4;

  }
  .col-2b {
    grid-column: 1 / 7;
    grid-row: 5;
  }
  .col-3a {
    grid-column: 1 / 7;
    grid-row: 5;

  }
/* This element is reordered to appear first, in this media query only */
  .col-3b {
    grid-column: 1 / 7;
    grid-row: 4;
  }
  .col-3c {
    grid-column: 1 / 7;
    grid-row: 6;
  }
  footer {
    grid-column: 1 / 7;
    grid-row: 7;
  }
/* CSS4 Grid in media query end */

  nav {
    background-color: orange;
  }
  .row {
    flex-direction: column;
  }
  
  header, h1, h2, li {
    font-size: 1em;
  }

  p {
    font-size: .75em;
  }

  header {
    background: url(../img/Appian_Way_Pan_small.jpg) no-repeat;
    background-size: 100%;
  }
}
